<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="public/css/bootstrap.min.css">
<title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    </nav>
    <table class="table table-light table-striped">
        <thead class="table table-dark table-striped"> 
            <tr>
                <th>Avatar</th>
                <th>Mã NV</th>
                <th>Họ và tên đệm</th>
                <th>Tên</th>
                <th>Lương cơ bản</th>
                <th>Hệ số</th>
                <th>Tổng tháng</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
            <tbody>
                <% employees.forEach(employee =>{%>
                    <tr>
                        <td>
                            <img src="images/<%= employee.avatar %>" style="width: 100px">
                        </td>
                        <td><%= employee.id %></td>
                        <td><%= employee.firstName %></td>
                        <td><%= employee.lastName %></td>
                        <td><%= employee.Luong.toLocaleString() %></td>
                        <td><%= employee.coefficient %></td>
                        <td><%= (employee.Luong* employee.coefficient).toLocaleString()  %> </td>
                        <td><a href="/employees/<%= employee.id %>">Xem</a></td>

                    </tr>

               <% }) %> 
            </tbody>
       
    </table>
<script src="public/js/bootstrap.min.js"></script>
</body>
</html>