<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Thông tin nhân viên</title>
</head>
 
                        <tbody>    
                            <dt>Mã NV</dt>
                        <dd><%= employee.id %></td>
                             <dt> Họ và tên đệm</dt>
                        <dd><%= employee.firstName %></td>
                             <dt>Tên</dt>
                        <dd><%= employee.lastName %></td>
                             <dt>Lương</dt>
                        <dd><%= employee.Luong.toLocaleString() %></td>
                             <dt>Hệ số</dt>
                        <dd><%= employee.coefficient %></td>
                             <dt>Tổng lương</dt>
                        <dd><%= (employee.Luong* employee.coefficient).toLocaleString()  %> </td>
                        <dd><a href="/employees">Quay lại</a></td>
                        </tbody>
                        
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>